@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

<h1>Hello, @Username</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private string Username = "Anonymous User";
    private string Picture = "";

    protected override async Task OnInitializedAsync()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        Username = state.User.Identity.Name ?? string.Empty;

        await base.OnInitializedAsync();
    }
}